 <p-splitter [style]="{'height': '950px'}" [panelSizes]="[15,80]" [minSizes]="[10,0]" styleClass="mb-5">
    <ng-template pTemplate>
              <app-menu></app-menu>
    </ng-template>
    <ng-template pTemplate>
        <p-splitter layout="vertical" [panelSizes]="[15,85]"> 
            <ng-template pTemplate>
                  <div>
                    <h1>Название приложения</h1>
                    <h4>Место для контента на главной странице</h4>
                  </div>
            </ng-template>
        </p-splitter>
    </ng-template>
  </p-splitter>
  <div>