<div>
  <h1>
    <strong>{{genTitleName}}</strong>
  </h1>
  <h4>
    <mark>
    Добро пожаловать, <strong>{{profileName}}</strong>!
    </mark>
  </h4>
  <br>
  <br>
  <h4>
    <button class="btn btn-danger"(click)="openLearning()">Обучение</button>
    <form *ngIf=isOpenOne>
      <br>
      <div class="form-group">
      <button class="btn btn-danger"(click)="learning">{{topicsAndSections}}</button>
      <br>
      <br>
      <button class="btn btn-danger"(click)="learning">{{topicTasks}}</button>
      </div>     
    </form>
  </h4>
  <br>
  <h4>
    <strong>
      <button class="btn btn-warning"(click)="openTask()">Тестовые задания</button>
    </strong>
    <form *ngIf=isOpenTwo>
      <br>
    <div class="form-group">
    <button class="btn btn-warning"(click)="testTask">{{byTaskNumber}}</button>
    <br>
    <br>
    <button class="btn btn-warning"(click)="testTask">{{exam}}</button>
    <br>
    <br>
    <button class="btn btn-warning"(click)="testTask">{{marathon}}</button>
    </div>
    </form>
  </h4>
  <br>
  <h4>
    <strong>
    <button class="btn btn-success"(click)="openInfo()">Полезная информация</button>
    </strong>
    <form *ngIf=isOpenThree>
      <br>
    <div class="form-group">
    <button class="btn btn-success"(click)="helpInfo">{{traficRules}}</button>
    <br>
    <br>
    <button class="btn btn-success"(click)="helpInfo">{{examInfo}}</button>
    <br>
    <br>
    <button class="btn btn-success"(click)="helpInfo">{{usefulInfo}}</button>
</div>
    
